body
{
    background-color: lightblue;
    color: black;
    font-family: "Times New Roman";
    font-size: 18pt;
}

p
{
    background-color: lightblue;
    color: white;
    font-family: "Times New Roman";
    font-size: 18pt;
}
